@import 'src/scss/mixins';

.block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  @include mobile {
    width: 90%;
  }
}

.item,
.header {
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  margin: 5px;

  @include mobile {
    font-size: 17px;
    line-height: 32px;
  }
}

.header {
  width: 100%;
  font-weight: 500;
}

.box {
  display: flex;
  width: 100%;

  @include mobile {
    justify-content: left;
  }
}

.item-color {
  color: $color-secondary;
}
