// Colors

$color-base: #0ef4df;
$color-warning: #eb4d4b;
$color-secondary: #c4c4c4;

$color-background-black: #0d0e10;
$color-background-dark: #1f1a24;
$color-background-red: #ff0000;
$color-background-yellow: #af8a1b;

$color-white: #ffffff;
$color-darkpurple: #6b0bf4;
$color-darkgray: #656565;

$color-light: #e5e5e5;
$color-light-blue: #44b8ea;
$color-light-darkpurple: rgba($color-darkpurple, 0.8);
$color-light-gray: #858a8f;
$color-background-indigo: #332940;

// Fonts
$font-inter: 'Inter', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Easing transitions
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Displays
$desktop: 1025;
$full-size: 1440;
$desktop-xl: 1800;
$laptop: 1440;
$tablet: 768;
$mobile: 320;
$desktop-vh: 750;
