@mixin browser-ie {
  .is-browser-ie &,
  _:-ms-input-placeholder,
  :root & {
    @content;
  }
}

@mixin browser-ie-edge {
  .is-browser-ie-edge &,
  _:-ms-lang(x),
  _:-webkit-full-screen,
  & {
    @content;
  }
}

@mixin browser-firefox {
  .is-browser-firefox & {
    @content;
  }

  @-moz-document url-prefix() {
    @content;
  }
}

@mixin browser-safari {
  .is-browser-safari &,
  _::-webkit-full-page-media,
  _:future,
  & {
    @content;
  }
}

@mixin browser-webkit {
  .is-engine-webkit &,
  .selector:not(*:root),
  & {
    @content;
  }
}
