@import 'src/scss/mixins';

.login-button {
  @include mobile {
    display: none;
  }

  font-size: 20px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: $color-light-gray;
  outline: none;
  text-transform: uppercase;

  &:hover {
    color: rgba(255 255 255 / 0.75%);
  }
}
