@import '@digitable-team/web-ui-components/src/scss/mixins';

.primary {
  border: 1px solid $color-white;
  border-radius: 6px;
  padding: 18px 40px;
  background: transparent;
  color: $color-base;
}

.success {
  border: 1px solid $color-base;
  border-radius: 50px;
  background: transparent;
  color: $color-base;

  &:hover {
    opacity: 0.9;
  }
}

.round {
  border-radius: 36px;
}

.disabled {
  color: $color-secondary;
  border-color: $color-secondary;
}
