@import 'src/scss/mixins';

.mailto {
  @include flex-center;

  margin: 15px 12px;

  @include mobile {
    width: 100%;
    justify-content: left;
    padding-left: 8px;
  }
}

.title {
  color: $color-light;
  font-weight: 500;
}

.title,
.label {
  font-size: 22px;
  line-height: 50px;
}

.label {
  color: $color-base;
  padding-left: 10px;
  font-weight: 500;

  &:hover {
    color: $color-light-gray;
  }
}
