@import 'src/scss/mixins';

.benefits {
  @include flex-center;

  flex-flow: wrap;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;

  @include mobile {
    display: none;
  }
}

.container {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  grid-template-rows: 280px 280px;
  grid-gap: 40px;
  margin-top: 50px;

  @include tablet {
    grid-template-columns: 380px 380px;
    grid-template-rows: 280px 280px;
    grid-template-rows: 17em 17em;
    grid-gap: 40px;
  }
}

.title {
  width: 100%;
  display: block;
  text-align: left;
  margin: 70px 0 30px;
}
