$digitable-link-hover-color: #0ef4df;
$digitable-text-color: #fff;
$digitable-heading-color: #0ef4df;
$digitable-purple-color: #6b0bf4;
$digitable-first-white-color: #fff;
$digitable-second-white-color: #f5f5f5;
$digitable-light-purple-color: #24224b;
$digitable-dark-purple-color: #1a183e;
$digitable-dark-color: #24224b;
$digitable-gray-color: #656565;
$digitable-light-gray-color: #c4c4c4;
$digitable-cyan-color: #0ef4df;
$digitable-input-border-color: #212048;
$digitable-button-background: #0d0e10;
$digitable-button-border: #fff3;
$digitable-border-color-first: #fff;
$digitable-border-color-secondary: #0ef4df;
$digitable-border-error-color: #f00;
$digitable-background: #0d0e10;
