$digitable-text-size-first: 20px;
$digitable-text-size-second: 23px;
$digitable-text-size-third: 26px;
$digitable-heading-size-first: 30px;
$digitable-heading-size-second: 48px;
$digitable-heading-size-third: 64px;
$digitable-text-weight-first: 400;
$digitable-text-weight-second: 500;
$digitable-text-weight-third: 700;
